<!DOCTYPE html>
<html>
<head>
	<title>Raspberry Pi - Live Stream</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<style>
		body {
			margin: 0;
			padding: 0;
			width: 100vw;
    		height: 100vh;
		}
		.stream {
			max-width: 100%;
			width: 1280;
			height: 720;
		}
		.center {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		h1 {
			text-align: center;
		}
		h3 {
			text-align: center;
		}
	</style>
</head>
<body onLoad="getData()">
	<h1>Eingangsbereich</h1>
	<img class="stream center" src="stream.mjpg">
	<!--<br>-->
	<!--<h1>Wohnzimmer</h1>-->
	<!--<img class="stream center" src="http://192.168.178.50/stream.mjpg">-->
	<h1>Stats</h1>
	<h3 id="piTemp"></h3>
	<script>
		function getData(){
			$('#piTemp').load('./temperature.txt');
		}
		// run every minute
		setInterval(getData, 60000)
	</script>
</body>
</html>
		

