<!DOCTYPE html>
<html>
<head>
	<title>Raspberry Pi - Live Stream</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<style>
		body {
			margin: 0;
			padding: 0;
			width: 100vw;
    		height: 100vh;
		}
		.stream {
			max-width: 100%;
			width: 1280;
			height: 720;
		}
		.center {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		h1 {
			text-align: center;
		}
		h3 {
			text-align: center;
		}
	</style>
</head>
<body onLoad="getStats()">
	<h1>Entrance</h1>
	<img class="stream center" src="stream.mjpg">
	<!--<br>-->
	<!--Add another stream-->
	<!--<img class="stream center" src="http://X.X.X.X:YYYY/stream.mjpg">-->
	<h1>Stats</h1>
	<h3 id="piTemp">Pi 1 CPU: </h3>
	<script>
		function getStats(){

			const xmlhttp = new XMLHttpRequest();

			xmlhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {
					//Use parse() method to convert JSON string to JSON object
					var responseJsonObj = JSON.parse(this.responseText);
					$('#piTemp').html('');
					$('#piTemp').append(responseJsonObj.temp).append(" &deg;C");
				}			
			};
			xmlhttp.open("GET", "/stats", true);
			xmlhttp.send();
		}
		// run every 30 seconds
		setInterval(getStats, 30000)
	</script>
</body>
</html>
		

